@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.4);
}
.back-btn {
  display: none !important;
}

@media (max-width: 768px) {
  .back-btn {
    display: flex !important;
  }
}
